<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>tinyDrawBot.py</string>
			<key>preferredName</key>
			<string>Tiny DrawBot</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>TypeMyType</string>
	<key>developerURL</key>
	<string>http://www.typemytype.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Tiny DrawBot</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1322823760.2236581</real>
	<key>version</key>
	<string>1.1</string>
	<key>repository</key>
	<string>typemytype/RoboFontExtensions</string>
	<key>extensionPath</key>
	<string>tinyDrawBot/TinyDrawBot.roboFontExt</string>
</dict>
</plist>
